pyarrow
requests
tqdm
matplotlib
seaborn
scikit-learn
jupyter
ipykernel
pytest
allensdk @ git+https://github.com/AllenInstitute/AllenSDK.git@05328c2f4f4079af4df2325bea9ebf143922b875
brain-observatory-utilities==0.5.1
